.container-top{
   /* justify-content: right;  */
   margin-left: 200px;
   margin-right: 50px;
   margin-top: 20px;
   /* border-radius: 20px; */
  }

.middle-container{
  /* justify-content: center; */
   margin-left: 200px;
   /* margin-right: 20rem; */
   margin-top: 20px; 
   margin-inline: 120px;
}

.bottom-container{
  /* justify-content: center; */
   margin-left: 50px;
   margin-right: 200px;
   margin-top: 20px;
}
/* .container-test{
  justify-content: end;
} */
.nav-link{
  color: blueviolet;
}
